<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyk.sz.zhzy.lzxt.xycf.mapper.GyDrugDictMapper">
    <resultMap id="BaseResultMap" type="com.yyk.sz.zhzy.lzxt.xycf.entity.GyDrugDict">
        <id column="UUID" property="id" jdbcType="VARCHAR"/>
        <result column="DrugCode" property="DrugCode" jdbcType="VARCHAR"/>
        <result column="DrugName" property="DrugName" jdbcType="VARCHAR"/>
        <result column="PackageUnits" property="PackageUnits" jdbcType="VARCHAR"/>
        <result column="SingleMeasure" property="SingleMeasure" jdbcType="VARCHAR"/>
        <result column="SingleMeasureUnitName" property="SingleMeasureUnitName" jdbcType="VARCHAR"/>
        <result column="DrugWayCode" property="DrugWayCode" jdbcType="VARCHAR"/>
        <result column="DrugWayName" property="DrugWayName" jdbcType="VARCHAR"/>
        <result column="FrequencyCode" property="FrequencyCode" jdbcType="VARCHAR"/>
        <result column="FrequencyName" property="FrequencyName" jdbcType="VARCHAR"/>
        <result column="Coefficient" property="Coefficient" jdbcType="VARCHAR"/>
        <result column="UseDays" property="UseDays" jdbcType="VARCHAR"/>
        <result column="TotalAmount" property="TotalAmount" jdbcType="VARCHAR"/>
        <result column="TotalAmountUnitName" property="TotalAmountUnitName" jdbcType="VARCHAR"/>
        <result column="MeasurementCoefficient" property="MeasurementCoefficient" jdbcType="VARCHAR"/>
        <result column="Quanitity" property="Quanitity" jdbcType="VARCHAR"/>
        <result column="PrescriptionUnitName" property="PrescriptionUnitName" jdbcType="VARCHAR"/>
        <result column="LPrice" property="LPrice" jdbcType="VARCHAR"/>
        <result column="WholeMoney" property="WholeMoney" jdbcType="VARCHAR"/>
    </resultMap>
<select id="getWesternDrugByFangJiSubID" resultMap="BaseResultMap">
   select DrugCode,DrugName,PackageUnits,SingleMeasure,SingleMeasureUnitName,DrugWayCode,DrugWayName,FrequencyCode,FrequencyName,Coefficient,UseDays,TotalAmount,
   TotalAmountUnitName,MeasurementCoefficient,Quanitity,PrescriptionUnitName,LPrice,WholeMoney
   from CM_V_WesternDrugByEmpBasicMainID
   where FangJiSubID=#{fangJiSubID} and EmpBasicMainID=#{empBasicMainID} and DrugFlag=2
</select>

</mapper>
