<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyk.sz.zhzy.jcsjxt.mapper.JCSJProcessMapper">
  <resultMap id="BaseResultMap" type="com.yyk.sz.zhzy.jcsjxt.entity.JCSJProcess">
      <id column="ProcessCode" property="processcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="UUID" property="uuid" javaType="java.lang.String" jdbcType="CHAR" />
      <result column="ProcessName" property="processname" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getProcess" resultMap="BaseResultMap">
   select * from Gy_Process order by ProcessCode
  </select>
</mapper>