<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyk.sz.zhzy.jcsjxt.mapper.JCSJPrescriptionClassifyMapper">
  <resultMap id="BaseResultMap" type="com.yyk.sz.zhzy.jcsjxt.entity.JCSJPrescriptionClassify">
      <id column="PCCode" property="pccode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="UUID" property="uuid" javaType="java.lang.String" jdbcType="CHAR" />
      <result column="PCName" property="pcname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="PinYinCode" property="pinyincode" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getPrescriptionClassifyTable" resultMap="BaseResultMap">
    select PCCode,PCName,PinYinCode from Gy_PrescriptionClassify where 1=1
    <if test="searchText != null">
      and (
      PCCode like #{searchText} or
      PCName like #{searchText} or
      PinYinCode like #{searchText}
      )
    </if>
    order by PCCode desc
  </select>

  <delete id="deletePrescriptionClassify" parameterType="java.lang.String">
    delete from Gy_PrescriptionClassify
    where PCCode = #{pccode,jdbcType=VARCHAR}
  </delete>

  <insert id="insertPrescriptionClassify" parameterType="com.yyk.sz.zhzy.jcsjxt.entity.JCSJPrescriptionClassify">
    insert into Gy_PrescriptionClassify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pccode != null">
        PCCode,
      </if>
      <if test="pcname != null">
        PCName,
      </if>
      <if test="pinyincode != null">
        PinYinCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pccode != null">
        #{pccode,jdbcType=VARCHAR},
      </if>
      <if test="pcname != null">
        #{pcname,jdbcType=VARCHAR},
      </if>
      <if test="pinyincode != null">
        #{pinyincode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updatePrescriptionClassify" parameterType="com.yyk.sz.zhzy.jcsjxt.entity.JCSJPrescriptionClassify">
    update Gy_PrescriptionClassify
    <set>
      <if test="pcname != null">
        PCName = #{pcname,jdbcType=VARCHAR},
      </if>
      <if test="pinyincode != null">
        PinYinCode = #{pinyincode,jdbcType=VARCHAR},
      </if>
    </set>
    where PCCode = #{pccode,jdbcType=VARCHAR}
  </update>

  <select id="checkPrescriptionClassifyExits" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PCCode,PCName,PinYinCode from Gy_PrescriptionClassify where 1=1
    <if test="pccode != null" >
      and PCCode = #{pccode}
    </if>
    <if test="pcname != null" >
      and PCName = #{pcname}
    </if>
  </select>

  <select id="GetPrescriptionByPCCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PCCode from Gy_PrescriptionMain where PCCode= #{pccode}
  </select>
</mapper>